@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal{
        height: 300px;
    }

    .filme-principal .container{
        margin-left: 20px;
    }

    .titulo{
        font-size: 20px;
    }

    .descricao{
        font-size: 13px;
    }

    .btn-play, .btn-info{
        font-size: 12px;
        margin-top: 5px;
        width: 120px;
        line-height: 12px;
        padding: 5px 0px;
    }

    .carrosel-titulo {
        margin-left: 20px;
        font-size: 18px;
    }

    .popup{
        width: 95%;
    }

    .popup-poster{
        height: 280px;
    }

    .info {
        margin-bottom: 10px;
    }

    .btn-close i{
        margin-right: 14px;
    }
}

@media screen and (min-width:700px) and (max-width:900px) { 
    .popup{
        width: 700px;
    }

    .popup-poster{
        height: 400px;
    }

    .info {
        margin-bottom: 40px;
    }

    .btn-close i{
        margin-right: 14px;
    }
}